html {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 2em;
}

.card {
    margin: 1rem;
    width: 800px;
}

.character__name {
    font-weight: bold;
}

.character .row {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    align-items: center;
}

.character__word {
    margin-right: 0.5em;
    display: inline-block;
}

#button {

}

.skills__blocked {
    background: #111;
}

.skills {
    margin: 1rem 0;
}

.skills table {
    width: 100%;
}
